[submodule "dr_libs"]
	path = app/src/main/cpp/dr_libs
	url = https://github.com/mackron/dr_libs.git

[submodule "sonivox_v4"]
	path = app/src/main/cpp/sonivox_v4
	url = https://github.com/EmbeddedSynth/sonivox.git
