<?xml version="1.0" encoding="utf-8"?>
<!-- Modified for JL-Mod Plus. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity
            android:name="ru.playsoftware.j2meloader.crashes.CrashRuntimeProbeActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:process=":midlet" />
        <activity
            android:name="javax.microedition.shell.CrashRuntimeLifecycleControlActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:process=":midlet" />
    </application>

</manifest>
